body {
    height: 98vh;
    font-family: 'Montserrat';
    background:#33323c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section.is-shown {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s;
    /* position: unset; */
}

.section {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s;
}

.tab-bar {
    display: flex;
    background-color: #2a2931;
    margin-left: 5px;
}

.tab-bar div {
    background-color: #33323c;
    padding: 10px 0;
    border-right: #43424e solid 3px;
    width: 200px;
    text-align: center;
}

.tab-bar h2 {
    font-size: 24px;
    color:#43424e;
    margin: auto 5px;
    cursor: pointer;
}