body {
    height: 98vh;
    font-family: 'Montserrat';
    background:#33323c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section.is-shown {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s;
    /* position: unset; */
}

.section {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s;
}